body {
    margin: 0;
}

.background-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background-image::before {
    content: ""; 
    position: absolute;
    top: 0px;
    right: 0px;  
    bottom: 0px;
    left: 0px;
    background-image: url("./images/mass.jpg");
    background-size: cover;
    background-position: top center;
    opacity: 0.75;
   
}


.info-box {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 40px;
    border: blue;
    border-style: solid;
}


footer {
    background-color: black;
    /* color: white; */
    text-align: center;
    padding: 40px;
  
}